<header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">ロゴ</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
          <% unless user_signed_in? %>
            <li class="text-center">
              <%= link_to menus_path, class: 'nav-link text-dark'  do %>
              メニュー一覧
              <% end %>
            </li>
            <li class="text-center">
              <%= link_to new_user_registration_path, class: 'nav-link text-dark'  do %>
                新規登録
              <% end %>
            </li>
            <li class="text-center">
              <%= link_to new_user_session_path, class: 'nav-link text-dark'  do %>
                ログイン
              <% end %>
            </li>
          <% else %>
            <li class="text-center">
              <%= link_to menus_path, class: 'nav-link text-dark'  do %>
              メニュー一覧
              <% end %>
            </li>
            <li class="text-center">
              <%= link_to users_path, class: 'nav-link text-dark'  do %>
              ユーザー一覧
              <% end %>
            </li>
	          <li class="text-center">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark'  do %>
                ログアウト
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>